<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <!-- 定义日志文件的变量，下面可以用变量名引用，获得value值 -->
 <property name="LOG_FILE" value="./logs/usercenter.log"/>
 
 <!-- 日志 输出到文件上-->
 <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_FILE}</file>
     <!-- 按照每天生成日志文件 --> 
     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
       <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
     </rollingPolicy>
     <!--定义日志 的输出格式，同layout类似-->
     <encoder> 
           <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n </pattern>   
     </encoder>
     <!--日志文件最大的大小-->
     <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>10MB</MaxFileSize>
     </triggeringPolicy>
  </appender>

   <!-- 日志输出到控制台上 -->
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
       <encoder>   
             <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n </pattern>   
       </encoder>  
    </appender>   
 <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
<!--  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
 <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>
 <logger name="org.hibernate.SQL" level="DEBUG"/>
 <logger name="org.hibernate.engine.QueryParameters" level="DEBUG"/>
 <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG"/> -->
  <!--日志输出到数据库中  ，需要三个指定的表-->
 <!-- <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
   <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
     <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
	      <driverClass>com.mysql.jdbc.Driver</driverClass>
	      <url>jdbc:mysql://localhost:3306/test</url>
	      <user>root</user>
	      <password>root</password>  
     </dataSource>
   </connectionSource>
</appender> -->

 <!-- 日志输出级别 -->
<root level="INFO">
   <appender-ref ref="ROLLING_FILE"/>
   <appender-ref ref="STDOUT"/>
   <!-- <appender-ref ref="DB"/> -->
</root>


</configuration>